In [1]:
import findspark 
findspark.init()

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .appName("PySparkTmp") \
    .getOrCreate()

In [4]:
spark #local[*] con * significa che utilizza tutti i core della macchina locale.

In [5]:
tabella = spark.read.csv("./convertcsv.csv")

In [6]:
tabella.header()

AttributeError: 'DataFrame' object has no attribute 'header'

In [7]:
tabella.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)

In [8]:
tabella.schema(

TypeError: 'StructType' object is not callable

In [9]:
tabella.schema

StructType(List(StructField(_c0,StringType,true),StructField(_c1,StringType,true),StructField(_c2,StringType,true)))

In [10]:
tabella.show()

+----------+----------+----------+
|       _c0|       _c1|       _c2|
+----------+----------+----------+
|      time|department|items_sold|
|2116/12/04|        NU|       875|
|2120/02/28|        SK|       231|
|2072/05/30|        NL|       855|
|2056/03/29|        NT|       758|
|2112/12/19|        NT|       101|
|2075/11/07|        NL|       682|
|2097/01/26|        NB|       923|
|2053/12/25|        NU|       935|
|2087/05/01|        NL|       535|
|2115/11/03|        QC|       768|
|2051/11/20|        NL|       357|
|2052/01/01|        BC|       422|
|2040/04/18|        NL|       669|
|2042/07/23|        NS|       523|
|2045/08/30|        BC|       163|
|2085/08/16|        NT|       526|
|2058/10/26|        SK|       282|
|2078/02/07|        NT|       475|
|2030/01/21|        NT|       677|
+----------+----------+----------+
only showing top 20 rows

In [11]:
tabella = spark.read.csv("./convertcsv.csv", header=True)

In [12]:
tabella.show()

+----------+----------+----------+
|      time|department|items_sold|
+----------+----------+----------+
|2116/12/04|        NU|       875|
|2120/02/28|        SK|       231|
|2072/05/30|        NL|       855|
|2056/03/29|        NT|       758|
|2112/12/19|        NT|       101|
|2075/11/07|        NL|       682|
|2097/01/26|        NB|       923|
|2053/12/25|        NU|       935|
|2087/05/01|        NL|       535|
|2115/11/03|        QC|       768|
|2051/11/20|        NL|       357|
|2052/01/01|        BC|       422|
|2040/04/18|        NL|       669|
|2042/07/23|        NS|       523|
|2045/08/30|        BC|       163|
|2085/08/16|        NT|       526|
|2058/10/26|        SK|       282|
|2078/02/07|        NT|       475|
|2030/01/21|        NT|       677|
|2035/05/20|        NT|       923|
+----------+----------+----------+
only showing top 20 rows

In [13]:
tabella.schema()

TypeError: 'StructType' object is not callable

In [14]:
tabella.printSchema()

root
 |-- time: string (nullable = true)
 |-- department: string (nullable = true)
 |-- items_sold: string (nullable = true)

In [15]:
#creo una nuova variabile in cui convertire i valori nel tipo giusto del file csv.
#to_date: 
import pyspark.sql.functions as f
tabella2 = tabella.withColumn("time", f.to_date("time", "yyyy/MM/dd")) \
    .withColumn("items_sold", f.col("items_sold").cast("integer"))

In [16]:
tabella2.printSchema()

root
 |-- time: date (nullable = true)
 |-- department: string (nullable = true)
 |-- items_sold: integer (nullable = true)

In [17]:
tabella2.show()

+----------+----------+----------+
|      time|department|items_sold|
+----------+----------+----------+
|2116-12-04|        NU|       875|
|2120-02-28|        SK|       231|
|2072-05-30|        NL|       855|
|2056-03-29|        NT|       758|
|2112-12-19|        NT|       101|
|2075-11-07|        NL|       682|
|2097-01-26|        NB|       923|
|2053-12-25|        NU|       935|
|2087-05-01|        NL|       535|
|2115-11-03|        QC|       768|
|2051-11-20|        NL|       357|
|2052-01-01|        BC|       422|
|2040-04-18|        NL|       669|
|2042-07-23|        NS|       523|
|2045-08-30|        BC|       163|
|2085-08-16|        NT|       526|
|2058-10-26|        SK|       282|
|2078-02-07|        NT|       475|
|2030-01-21|        NT|       677|
|2035-05-20|        NT|       923|
+----------+----------+----------+
only showing top 20 rows

In [18]:
tabella.where()

TypeError: filter() missing 1 required positional argument: 'condition'

In [19]:
tabella2.where(f.col("department")=="AB").show()

+----------+----------+----------+
|      time|department|items_sold|
+----------+----------+----------+
|2106-08-10|        AB|       984|
|2088-03-06|        AB|       440|
|2053-11-02|        AB|       760|
|2022-08-24|        AB|       901|
|2119-01-27|        AB|       165|
|2053-12-02|        AB|       935|
|2049-08-22|        AB|       700|
+----------+----------+----------+

In [20]:
tabella2.where("department='AB'").show()

+----------+----------+----------+
|      time|department|items_sold|
+----------+----------+----------+
|2106-08-10|        AB|       984|
|2088-03-06|        AB|       440|
|2053-11-02|        AB|       760|
|2022-08-24|        AB|       901|
|2119-01-27|        AB|       165|
|2053-12-02|        AB|       935|
|2049-08-22|        AB|       700|
+----------+----------+----------+

In [21]:
tabella2.where((f.col("department")=="AB") & (f.col("items_sold")>=500)).show()

+----------+----------+----------+
|      time|department|items_sold|
+----------+----------+----------+
|2106-08-10|        AB|       984|
|2053-11-02|        AB|       760|
|2022-08-24|        AB|       901|
|2053-12-02|        AB|       935|
|2049-08-22|        AB|       700|
+----------+----------+----------+

In [22]:
tabella2.where((f.col("items_sold")>=700)).select("department").distinct().show()

+----------+
|department|
+----------+
|        NS|
|        NL|
|        NT|
|        QC|
|        BC|
|        MB|
|        NU|
|        SK|
|        ON|
|        AB|
|        PE|
|        YT|
|        NB|
+----------+

In [23]:
tabella2.createOrReplaceTempView("sales")

In [26]:
query = """
SELECT DISTINCT(department)
FROM sales
WHERE items_sold >= 700
"""
spark.sql(query).show()

+----------+
|department|
+----------+
|        NS|
|        NL|
|        NT|
|        QC|
|        BC|
|        MB|
|        NU|
|        SK|
|        ON|
|        AB|
|        PE|
|        YT|
|        NB|
+----------+

In [44]:
#Query: raggruppare per dipartimenti. I primi 3 Dipartimenti che hanno venduto di più in ordine descrente. 
query = """
SELECT department, SUM(items_sold)
FROM sales
GROUP BY department
ORDER BY Sum(items_sold) DESC
LIMIT(3)
"""
spark.sql(query).show()

+----------+---------------+
|department|sum(items_sold)|
+----------+---------------+
|        NL|           6750|
|        NB|           5502|
|        NT|           4909|
+----------+---------------+

In [ ]:
tabella2.where((f.col("items_sold")>=700)).select("department").distinct().show()