In [114]:
import findspark 
findspark.init()

In [115]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .appName("PySparkTmp") \
    .getOrCreate()

In [116]:
spark #local[*] con * significa che utilizza tutti i core della macchina locale.

In [117]:
tabella = spark.read.csv("./convertcsv.csv")

In [118]:
tabella.printSchema() #mostra com'è formattato l'Header della tabella del file csv importato. Nota: time e items_sold qui sono delle stringhe.

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)

In [119]:
tabella.schema

StructType(List(StructField(_c0,StringType,true),StructField(_c1,StringType,true),StructField(_c2,StringType,true)))

In [15]:
tabella.show()

+----------+----------+----------+
|       _c0|       _c1|       _c2|
+----------+----------+----------+
|      time|department|items_sold|
|2116/12/04|        NU|       875|
|2120/02/28|        SK|       231|
|2072/05/30|        NL|       855|
|2056/03/29|        NT|       758|
|2112/12/19|        NT|       101|
|2075/11/07|        NL|       682|
|2097/01/26|        NB|       923|
|2053/12/25|        NU|       935|
|2087/05/01|        NL|       535|
|2115/11/03|        QC|       768|
|2051/11/20|        NL|       357|
|2052/01/01|        BC|       422|
|2040/04/18|        NL|       669|
|2042/07/23|        NS|       523|
|2045/08/30|        BC|       163|
|2085/08/16|        NT|       526|
|2058/10/26|        SK|       282|
|2078/02/07|        NT|       475|
|2030/01/21|        NT|       677|
+----------+----------+----------+
only showing top 20 rows

In [120]:
tabella = spark.read.csv("./convertcsv.csv", header=True) #per visualizzare in modo corretto l'header della tasbella.

In [121]:
tabella.show()

+----------+----------+----------+
|      time|department|items_sold|
+----------+----------+----------+
|2116/12/04|        NU|       875|
|2120/02/28|        SK|       231|
|2072/05/30|        NL|       855|
|2056/03/29|        NT|       758|
|2112/12/19|        NT|       101|
|2075/11/07|        NL|       682|
|2097/01/26|        NB|       923|
|2053/12/25|        NU|       935|
|2087/05/01|        NL|       535|
|2115/11/03|        QC|       768|
|2051/11/20|        NL|       357|
|2052/01/01|        BC|       422|
|2040/04/18|        NL|       669|
|2042/07/23|        NS|       523|
|2045/08/30|        BC|       163|
|2085/08/16|        NT|       526|
|2058/10/26|        SK|       282|
|2078/02/07|        NT|       475|
|2030/01/21|        NT|       677|
|2035/05/20|        NT|       923|
+----------+----------+----------+
only showing top 20 rows

In [122]:
tabella.printSchema()

root
 |-- time: string (nullable = true)
 |-- department: string (nullable = true)
 |-- items_sold: string (nullable = true)

In [126]:
#creo una nuova variabile (tabella2) in cui convertire i valori nel tipo giusto del file csv. Ovvero il campo time lo converto nel tipo date
#il campo items_sold, prima era stringa, ora lo converto in interi. 
#to_date: si specifica il campo da convertire e il formato in cui si vuole specificare la data 
#Per convertire da String a Integer bisogna fare il cast. 
import pyspark.sql.functions as f
tabella2 = tabella.withColumn("time", f.to_date("time", "yyyy/MM/dd")) \
    .withColumn("items_sold", f.col("items_sold").cast("integer"))

In [127]:
tabella2.printSchema() #è possibile notare che i tipi per le colonne sono corretti.

root
 |-- time: date (nullable = true)
 |-- department: string (nullable = true)
 |-- items_sold: integer (nullable = true)

In [128]:
tabella2.show()

+----------+----------+----------+
|      time|department|items_sold|
+----------+----------+----------+
|2116-12-04|        NU|       875|
|2120-02-28|        SK|       231|
|2072-05-30|        NL|       855|
|2056-03-29|        NT|       758|
|2112-12-19|        NT|       101|
|2075-11-07|        NL|       682|
|2097-01-26|        NB|       923|
|2053-12-25|        NU|       935|
|2087-05-01|        NL|       535|
|2115-11-03|        QC|       768|
|2051-11-20|        NL|       357|
|2052-01-01|        BC|       422|
|2040-04-18|        NL|       669|
|2042-07-23|        NS|       523|
|2045-08-30|        BC|       163|
|2085-08-16|        NT|       526|
|2058-10-26|        SK|       282|
|2078-02-07|        NT|       475|
|2030-01-21|        NT|       677|
|2035-05-20|        NT|       923|
+----------+----------+----------+
only showing top 20 rows

In [22]:
tabella2.where(f.col("department")=="AB").show() #mostra solo i dipartimenti con nome: "AB"

+----------+----------+----------+
|      time|department|items_sold|
+----------+----------+----------+
|2106-08-10|        AB|       984|
|2088-03-06|        AB|       440|
|2053-11-02|        AB|       760|
|2022-08-24|        AB|       901|
|2119-01-27|        AB|       165|
|2053-12-02|        AB|       935|
|2049-08-22|        AB|       700|
+----------+----------+----------+

In [23]:
tabella2.where("department='AB'").show()

+----------+----------+----------+
|      time|department|items_sold|
+----------+----------+----------+
|2106-08-10|        AB|       984|
|2088-03-06|        AB|       440|
|2053-11-02|        AB|       760|
|2022-08-24|        AB|       901|
|2119-01-27|        AB|       165|
|2053-12-02|        AB|       935|
|2049-08-22|        AB|       700|
+----------+----------+----------+

In [24]:
tabella2.where((f.col("department")=="AB") & (f.col("items_sold")>=500)).show()

+----------+----------+----------+
|      time|department|items_sold|
+----------+----------+----------+
|2106-08-10|        AB|       984|
|2053-11-02|        AB|       760|
|2022-08-24|        AB|       901|
|2053-12-02|        AB|       935|
|2049-08-22|        AB|       700|
+----------+----------+----------+

In [25]:
tabella2.where((f.col("items_sold")>=700)).select("department").distinct().show()

+----------+
|department|
+----------+
|        NS|
|        NL|
|        NT|
|        QC|
|        BC|
|        MB|
|        NU|
|        SK|
|        ON|
|        AB|
|        PE|
|        YT|
|        NB|
+----------+

In [26]:
tabella2.createOrReplaceTempView("sales") #permette di rinominare il nome del file .csv

In [27]:
query = """
SELECT DISTINCT(department)
FROM sales
WHERE items_sold >= 700
"""
spark.sql(query).show()

+----------+
|department|
+----------+
|        NS|
|        NL|
|        NT|
|        QC|
|        BC|
|        MB|
|        NU|
|        SK|
|        ON|
|        AB|
|        PE|
|        YT|
|        NB|
+----------+

In [28]:
#Query: raggruppare per dipartimenti. I primi 3 Dipartimenti che hanno venduto di più in ordine descrente. 
query = """
SELECT department, SUM(items_sold)
FROM sales
GROUP BY department
ORDER BY Sum(items_sold) DESC
LIMIT(3)
"""
spark.sql(query).show()

+----------+---------------+
|department|sum(items_sold)|
+----------+---------------+
|        NL|           6750|
|        NB|           5502|
|        NT|           4909|
+----------+---------------+

In [47]:
import pyspark.sql.sampleData as sample

ModuleNotFoundError: No module named 'pyspark.sql.sampleData'

In [48]:
query = """
SELECT department, SUM(items_sold)
FROM sales
GROUP BY department
ORDER BY Sum(items_sold) DESC
LIMIT(3)
"""
spark.sql(query).show()

+----------+---------------+
|department|sum(items_sold)|
+----------+---------------+
|        NL|           6750|
|        NB|           5502|
|        NT|           4909|
+----------+---------------+

In [51]:
query = """
SELECT department
FROM sales
GROUP BY department
LIMIT(3)
"""
spark.sql(query).show()

+----------+
|department|
+----------+
|        NS|
|        NL|
|        NT|
+----------+

In [52]:
tabella2.show()

+----------+----------+----------+
|      time|department|items_sold|
+----------+----------+----------+
|2116-12-04|        NU|       875|
|2120-02-28|        SK|       231|
|2072-05-30|        NL|       855|
|2056-03-29|        NT|       758|
|2112-12-19|        NT|       101|
|2075-11-07|        NL|       682|
|2097-01-26|        NB|       923|
|2053-12-25|        NU|       935|
|2087-05-01|        NL|       535|
|2115-11-03|        QC|       768|
|2051-11-20|        NL|       357|
|2052-01-01|        BC|       422|
|2040-04-18|        NL|       669|
|2042-07-23|        NS|       523|
|2045-08-30|        BC|       163|
|2085-08-16|        NT|       526|
|2058-10-26|        SK|       282|
|2078-02-07|        NT|       475|
|2030-01-21|        NT|       677|
|2035-05-20|        NT|       923|
+----------+----------+----------+
only showing top 20 rows

In [62]:
from pyspark.sql import SparkSession

In [63]:
print(spark)

<pyspark.sql.session.SparkSession object at 0x7fc89655ee10>

In [70]:
#Creare una semplice tabella 
tab =  spark.createDataFrame([("05:49:56.604899", "10.0.0.2.54880", "10.0.0.3.5001",  2),
  ("05:49:56.604900", "10.0.0.2.54880", "10.0.0.3.5001",  2),
  ("05:49:56.604899", "10.0.0.2.54880", "10.0.0.3.5001",  2),
  ("05:49:56.604900", "10.0.0.2.54880", "10.0.0.3.5001",  2),
  ("05:49:56.604899", "10.0.0.2.54880", "10.0.0.3.5001",  2),
  ("05:49:56.604900", "10.0.0.2.54880", "10.0.0.3.5001",  2),
  ("05:49:56.604899", "10.0.0.2.54880", "10.0.0.3.5001",  2),
  ("05:49:56.604900", "10.0.0.2.54880", "10.0.0.3.5001",  2),
  ("05:49:56.604899", "10.0.0.2.54880", "10.0.0.3.5001",  2),
  ("05:49:56.604900", "10.0.0.2.54880", "10.0.0.3.5001",  2),
  ("05:49:56.604899", "10.0.0.2.54880", "10.0.0.3.5001",  2),
  ("05:49:56.604900", "10.0.0.2.54880", "10.0.0.3.5001",  2),
  ("05:49:56.604899", "10.0.0.2.54880", "10.0.0.3.5001",  2),
  ("05:49:56.604908", "10.0.0.3.5001",  "10.0.0.2.54880", 2),
  ("05:49:56.604908", "10.0.0.3.5001",  "10.0.0.2.54880", 2),
  ("05:49:56.604908", "10.0.0.3.5001",  "10.0.0.2.54880", 2),
  ("05:49:56.604908", "10.0.0.3.5001",  "10.0.0.2.54880", 2),
  ("05:49:56.604908", "10.0.0.3.5001",  "10.0.0.2.54880", 2),
  ("05:49:56.604908", "10.0.0.3.5001",  "10.0.0.2.54880", 2),
  ("05:49:56.604908", "10.0.0.3.5001",  "10.0.0.2.54880", 2)],
                           ["column0", "column1", "column2", "label"])
tab.show()

+---------------+--------------+--------------+-----+
|        column0|       column1|       column2|label|
+---------------+--------------+--------------+-----+
|05:49:56.604899|10.0.0.2.54880| 10.0.0.3.5001|    2|
|05:49:56.604900|10.0.0.2.54880| 10.0.0.3.5001|    2|
|05:49:56.604899|10.0.0.2.54880| 10.0.0.3.5001|    2|
|05:49:56.604900|10.0.0.2.54880| 10.0.0.3.5001|    2|
|05:49:56.604899|10.0.0.2.54880| 10.0.0.3.5001|    2|
|05:49:56.604900|10.0.0.2.54880| 10.0.0.3.5001|    2|
|05:49:56.604899|10.0.0.2.54880| 10.0.0.3.5001|    2|
|05:49:56.604900|10.0.0.2.54880| 10.0.0.3.5001|    2|
|05:49:56.604899|10.0.0.2.54880| 10.0.0.3.5001|    2|
|05:49:56.604900|10.0.0.2.54880| 10.0.0.3.5001|    2|
|05:49:56.604899|10.0.0.2.54880| 10.0.0.3.5001|    2|
|05:49:56.604900|10.0.0.2.54880| 10.0.0.3.5001|    2|
|05:49:56.604899|10.0.0.2.54880| 10.0.0.3.5001|    2|
|05:49:56.604908| 10.0.0.3.5001|10.0.0.2.54880|    2|
|05:49:56.604908| 10.0.0.3.5001|10.0.0.2.54880|    2|
|05:49:56.604908| 10.0.0.3.5001|10.0.0.2.54880|    2|
|05:49:56.604908| 10.0.0.3.5001|10.0.0.2.54880|    2|
|05:49:56.604908| 10.0.0.3.5001|10.0.0.2.54880|    2|
|05:49:56.604908| 10.0.0.3.5001|10.0.0.2.54880|    2|
|05:49:56.604908| 10.0.0.3.5001|10.0.0.2.54880|    2|
+---------------+--------------+--------------+-----+

In [74]:
tab.printSchema()

root
 |-- column0: string (nullable = true)
 |-- column1: string (nullable = true)
 |-- column2: string (nullable = true)
 |-- label: long (nullable = true)

In [80]:
#Query: raggruppare per dipartimenti. I primi 3 Dipartimenti che hanno venduto di più in ordine descrente. 
#.agg() spercifica una funzione di aggregazione, tipo: sum, avg ecc 
tabella2.groupBy("department").agg(f.sum("items_sold").alias("total")).orderBy(f.desc("total")).limit(3).show()

+----------+-----+
|department|total|
+----------+-----+
|        NL| 6750|
|        NB| 5502|
|        NT| 4909|
+----------+-----+

In [91]:
#Query: items_sold massimo e minimo 
tabella2.agg(f.max("items_sold").alias("massimo")).show()

+-------+
|massimo|
+-------+
|    993|
+-------+

In [94]:
query = """
SELECT MAX(items_sold) AS Massimo
FROM sales 
"""
spark.sql(query).show()

+-------+
|Massimo|
+-------+
|    993|
+-------+

In [100]:
#Query dove mostro il minimo di items_sold 
tabella2.agg(f.min("items_sold").alias("minimo")).show()

+------+
|minimo|
+------+
|    47|
+------+

In [102]:
query = """
SELECT MIN(items_sold)
from sales
"""
spark.sql(query).show()

+---------------+
|min(items_sold)|
+---------------+
|             47|
+---------------+

In [113]:
#query: raggruppare gli items_sold uguali 
query= """
SELECT items_sold DISTINCT 
from sales
GROUP BY items_sold 
"""
spark.sql(query).show()

+--------+
|DISTINCT|
+--------+
|     833|
|     513|
|     211|
|     101|
|     939|
|     436|
|     784|
|     984|
|     875|
|     604|
|     727|
|     758|
|     855|
|      47|
|     185|
|     935|
|     768|
|     274|
|     689|
|     442|
+--------+
only showing top 20 rows

In [129]:
tabella2.show()

+----------+----------+----------+
|      time|department|items_sold|
+----------+----------+----------+
|2116-12-04|        NU|       875|
|2120-02-28|        SK|       231|
|2072-05-30|        NL|       855|
|2056-03-29|        NT|       758|
|2112-12-19|        NT|       101|
|2075-11-07|        NL|       682|
|2097-01-26|        NB|       923|
|2053-12-25|        NU|       935|
|2087-05-01|        NL|       535|
|2115-11-03|        QC|       768|
|2051-11-20|        NL|       357|
|2052-01-01|        BC|       422|
|2040-04-18|        NL|       669|
|2042-07-23|        NS|       523|
|2045-08-30|        BC|       163|
|2085-08-16|        NT|       526|
|2058-10-26|        SK|       282|
|2078-02-07|        NT|       475|
|2030-01-21|        NT|       677|
|2035-05-20|        NT|       923|
+----------+----------+----------+
only showing top 20 rows

In [133]:
#Query: somma degli items_sold in base in base al dipartimento 
query = """
SELECT department, sum(items_sold)
from sales
group by department 

"""
spark.sql(query).show()

+----------+---------------+
|department|sum(items_sold)|
+----------+---------------+
|        NS|           3593|
|        NL|           6750|
|        NT|           4909|
|        QC|           4664|
|        BC|           3830|
|        MB|           2776|
|        NU|           4584|
|        SK|           4486|
|        ON|           2595|
|        AB|           4885|
|        PE|            884|
|        YT|           3810|
|        NB|           5502|
+----------+---------------+

In [137]:
#Query: somma degli items_sold in base in base al dipartimento 
tabella2.groupBy("department").agg(f.sum("items_sold").alias("somma")).select("department", "somma").show()

+----------+-----+
|department|somma|
+----------+-----+
|        NS| 3593|
|        NL| 6750|
|        NT| 4909|
|        QC| 4664|
|        BC| 3830|
|        MB| 2776|
|        NU| 4584|
|        SK| 4486|
|        ON| 2595|
|        AB| 4885|
|        PE|  884|
|        YT| 3810|
|        NB| 5502|
+----------+-----+

In [188]:
#Query: media degli items_sold in base al dipartimento 
query = """
SELECT department, avg(items_sold) AS media
from sales
GROUP BY department
having avg(items_sold)>500
ORDER BY media ASC
"""
spark.sql(query).show()

+----------+-----------------+
|department|            media|
+----------+-----------------+
|        NB|500.1818181818182|
|        QC|518.2222222222222|
|        NS|598.8333333333334|
|        YT|            635.0|
|        ON|           648.75|
|        NL|            675.0|
|        AB|697.8571428571429|
|        PE|            884.0|
+----------+-----------------+

In [168]:
#Query: media degli items_sold in base al dipartimento e ordinati il base crescente 
tabella2.groupBy("department").agg(f.avg("items_sold").alias("media")).where(f.avg("items_sold")>500).select("department", "media").sort("media").show()

+----------+-----------------+
|department|            media|
+----------+-----------------+
|        NB|500.1818181818182|
|        QC|518.2222222222222|
|        NS|598.8333333333334|
|        YT|            635.0|
|        ON|           648.75|
|        NL|            675.0|
|        AB|697.8571428571429|
|        PE|            884.0|
+----------+-----------------+

In [158]:
tabella2.count()

100

In [159]:
tabella2.withColumnRenamed("items_sold", "items")

DataFrame[time: date, department: string, items: int]

In [160]:
tabella2.printSchema()

root
 |-- time: date (nullable = true)
 |-- department: string (nullable = true)
 |-- items_sold: integer (nullable = true)

In [161]:
tabella2.show(3)

+----------+----------+----------+
|      time|department|items_sold|
+----------+----------+----------+
|2116-12-04|        NU|       875|
|2120-02-28|        SK|       231|
|2072-05-30|        NL|       855|
+----------+----------+----------+
only showing top 3 rows

In [163]:
tabella2.withColumnRenamed("items_sold", "items").show(3)

+----------+----------+-----+
|      time|department|items|
+----------+----------+-----+
|2116-12-04|        NU|  875|
|2120-02-28|        SK|  231|
|2072-05-30|        NL|  855|
+----------+----------+-----+
only showing top 3 rows

In [164]:
tabella2.show()

+----------+----------+----------+
|      time|department|items_sold|
+----------+----------+----------+
|2116-12-04|        NU|       875|
|2120-02-28|        SK|       231|
|2072-05-30|        NL|       855|
|2056-03-29|        NT|       758|
|2112-12-19|        NT|       101|
|2075-11-07|        NL|       682|
|2097-01-26|        NB|       923|
|2053-12-25|        NU|       935|
|2087-05-01|        NL|       535|
|2115-11-03|        QC|       768|
|2051-11-20|        NL|       357|
|2052-01-01|        BC|       422|
|2040-04-18|        NL|       669|
|2042-07-23|        NS|       523|
|2045-08-30|        BC|       163|
|2085-08-16|        NT|       526|
|2058-10-26|        SK|       282|
|2078-02-07|        NT|       475|
|2030-01-21|        NT|       677|
|2035-05-20|        NT|       923|
+----------+----------+----------+
only showing top 20 rows

In [173]:
tabella2.sort(f.desc("items_sold")).show()

+----------+----------+----------+
|      time|department|items_sold|
+----------+----------+----------+
|2086-02-04|        NB|       993|
|2106-08-10|        AB|       984|
|2087-05-26|        NL|       983|
|2043-04-07|        BC|       956|
|2082-09-11|        YT|       939|
|2053-12-02|        AB|       935|
|2053-12-25|        NU|       935|
|2035-05-20|        NT|       923|
|2097-01-26|        NB|       923|
|2054-01-05|        QC|       907|
|2022-08-24|        AB|       901|
|2110-02-11|        QC|       900|
|2035-02-21|        ON|       899|
|2064-12-06|        NS|       889|
|2120-07-10|        PE|       884|
|2047-01-14|        QC|       881|
|2116-12-04|        NU|       875|
|2074-06-29|        YT|       872|
|2060-11-25|        YT|       868|
|2100-01-20|        NU|       865|
+----------+----------+----------+
only showing top 20 rows

In [191]:
#Si ordina per tempo, si raggruppa per dipartimento. Si crea una nuova colonna (rn) in cui si hanno le tuple in ordine, ad esempio si prende
# sola la prima riga per ogni dipartimento in ordine cronologico .(tramite l'uso dei window di Spark)

#In questo esercizio si è realizzata la: somma parziale: 
#Un totale parziale è la somma di una sequenza di numeri che viene aggiornata ogni volta che viene aggiunto 
#un nuovo numero alla sequenza, sommando il valore del nuovo numero al totale precedente. 
from pyspark.sql.window import Window
windowTest = Window.partitionBy("department").orderBy(f.desc("time")) #Partition in base ai dipartimenti. Ordine descente in base al time. 
tabella2.withColumn("rn", f.row_number().over(windowTest)).where("rn=1").drop("rn").show() #Crea una nuova colonna (withColumn) e imposta 
#il windowTest. Fa la clausola where ed elimina la colonna con drop.

+----------+----------+----------+
|      time|department|items_sold|
+----------+----------+----------+
|2119-01-27|        AB|       165|
|2106-12-10|        BC|        95|
|2120-02-09|        MB|       320|
|2104-04-14|        NB|       211|
|2119-04-05|        NL|       771|
|2113-09-07|        NS|       448|
|2112-12-19|        NT|       101|
|2116-12-04|        NU|       875|
|2058-01-06|        ON|       732|
|2120-07-10|        PE|       884|
|2119-11-18|        QC|       395|
|2120-02-28|        SK|       231|
|2099-12-07|        YT|       833|
+----------+----------+----------+

In [209]:
windowTest = Window.partitionBy("department").orderBy(f.asc("time"))
tabella2.withColumn("rn", f.row_number().over(windowTest)).show()

+----------+----------+----------+---+
|      time|department|items_sold| rn|
+----------+----------+----------+---+
|2022-08-24|        AB|       901|  1|
|2049-08-22|        AB|       700|  2|
|2053-11-02|        AB|       760|  3|
|2053-12-02|        AB|       935|  4|
|2088-03-06|        AB|       440|  5|
|2106-08-10|        AB|       984|  6|
|2119-01-27|        AB|       165|  7|
|2028-10-30|        BC|       507|  1|
|2031-04-21|        BC|       439|  2|
|2034-07-13|        BC|       261|  3|
|2040-07-24|        BC|       294|  4|
|2043-04-07|        BC|       956|  5|
|2044-06-30|        BC|       693|  6|
|2045-08-30|        BC|       163|  7|
|2052-01-01|        BC|       422|  8|
|2106-12-10|        BC|        95|  9|
|2033-09-04|        MB|       261|  1|
|2054-01-07|        MB|        87|  2|
|2079-12-26|        MB|       784|  3|
|2103-05-11|        MB|       525|  4|
+----------+----------+----------+---+
only showing top 20 rows

In [ ]:
#vista:  tutti i valori che non sono massimi e fare la differenza tra i 2 insiemi, il totale - quello calcolato prima (in SQL)
#Bisogna ottenere lo stesso risultato della query di sopra ma in SQL. 
query = """
SELECT 
FROM sales


"""
spark.sql(query).show()